.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.icon-lg {
  font-size: 36px;
}

.icon-md {
  font-size: 22px;
}

.icon-xxs {
  font-size: 15px;
}